body,pre,a,ul,li,p,div,h2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1{
	Impact, Charcoal, sans-serif
}

body {
	margin:0px;
	background: url("../img/backgr5.jpg");
}

#header {
	position:fixed;
	height:60px;
	width:100%;
	background-color:#66CCFF;
	border-bottom:5px solid black;
}

#listsign {
	height:60px;
	float:left;
	font-size:40px;
	margin-left:10px;
	margin-top:1%;
}

#version{
	position:absolute;
	right:10px;
	top:5px;
}


#menulist {
	width:60px;
}

#menu ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#menu ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#menu ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#menu ul li.current-menu-item {
	background:#ddd
}

#menu ul li:hover {
	background:#f6f6f6;
}

#menu ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#menu ul ul li {
	float:none;
	width:200px
}

#menu ul ul a {
	line-height:120%;
	padding:10px 15px
}

#menu ul ul ul {
	top:0;
	left:100%
}

#menu ul li:hover > ul {
	display:block
}

.layout{
	border:5px solid black;
	border-radius:10px;
	width:20%;
	margin-top:100px;
	margin-left:40px;
	height:auto;
	padding:20px;
	float:left;
	background-color:rgba(250,250,250,0.8);
}

.weekday{
	display:inline-block;
	width:30px;
	height:30px;
	border-radius:50%;
	background:url("../img/linnen.png");
	color:white;
	cursor:pointer;
	text-align:center;
	vertical-align: middle;
	line-height: 27.5px;
	
}

.weekday:hover{
	background:url("../img/strips.png");
	color:black;
}

.plus, .minus{
	display:inline-block;
	font-size:15px;
	float:right;
	padding-left, padding-right:5px;
	margin-left:10px;
}

.plus:hover, .minus:hover, .weekday:hover{
	cursor:pointer;
}

#ellage{
	background:url("../img/ellage.png");
	background-size:100%;
	background-repeat: no-repeat;
	width:400px;
	height:140px;
	position:fixed;
	right:10px;
	bottom:10px;

}